services:
  # add gateway service later

  minio:
    image: quay.io/minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-seaweed_access}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-seaweed_secret}
    command: server /data --console-address ":9001"
    ports:
      - "8333:9000"
      - "9001:9001"
    volumes:
      - ${MINIO_VOLUME_LOCATION:-~/minio/data}:/data

networks:
  storage:
