services:
  # add gateway service later

  seaweedfs:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs
    command: >
      server
      -dir=/data
      -s3
      -s3.port=8333
      -s3.config=/config.json
      -filer
      -filer.port=8888
      -volume.max=${MAX_VOLUMES:-1}
      -volume.fileSizeLimitMB=${FILE_SIZE_LIMIT_MB:-1024}
    ports:
      - "8333:8333"
      - "8888:8888"
    volumes:
      - ${SEAWEED_VOLUME_LOCATION:-~/seaweedfs/data}:/data
      - ./config.json:/config.json:ro
    networks: [storage]
    restart: unless-stopped

networks:
  storage:
