services:
  # add gateway service later
  # depends_on:
  #     redis:
  #       condition: service_healthy

  minio:
    image: quay.io/minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-admin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-admin@123}
    command: server /data --console-address ":9001"
    ports:
      - "8333:9000"
      - "9001:9001"
    volumes:
      - ${MINIO_VOLUME_LOCATION:-~/minio/data}:/data
    networks:
      - storage
    restart: unless-stopped

  # redis:
  #   image: redis
  #   container_name: gateway-redis
  #   environment:
  #     - ALLOW_EMPTY_PASSWORD=yes
  #   healthcheck:
  #     test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
  #     interval: 1s
  #     timeout: 3s
  #     retries: 5
  #   networks:
  #     - storage
  #   restart: unless-stopped

networks:
  storage:
    driver: bridge
