services:
  storage-gateway:
    build: .
    env_file:
      - .env
    ports:
      - "5333:5000"
    networks:
      - storage
    volumes:
      - ${SECRETS_VOLUME_PATH:-~/storage-gateway/secrets}:/secrets
    depends_on:
      gateway-redis:
        condition: service_healthy

  storage-backup-worker:
    build: .
    env_file:
      - .env
    command: ["./worker"]
    networks:
      - storage
    volumes:
      - ${SECRETS_VOLUME_PATH:-~/storage-gateway/secrets}:/secrets
    depends_on:
      gateway-redis:
        condition: service_healthy

  minio:
    image: quay.io/minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-admin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-admin@123}
    command: server /data --console-address ":9001"
    ports:
      - "8333:9000"
      - "9001:9001"
    volumes:
      - ${MINIO_VOLUME_LOCATION:-~/minio/data}:/data
    networks:
      - storage
    restart: unless-stopped

  gateway-redis:
    image: redis
    container_name: gateway-redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - storage
    restart: unless-stopped

networks:
  storage:
    driver: bridge
